<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>你搭哪班車</title>
    <script src="../../static/jquery.js"></script>
    <script src="../../static/uikit-2.6.0/js/uikit.min.js"></script>
    <link rel="stylesheet" href="../../static/uikit-2.6.0/css/uikit.gradient.min.css" />
    <link rel="stylesheet" href="../../static/uikit-2.6.0/css/uikit.gradient.css" />
    <link rel="stylesheet" href="../../static/uikit-2.6.0/css/uikit.docs.min.css" />
    <link rel="stylesheet" href="../../static/common.css" />
    <link rel="stylesheet" href="../../static/font-awesome-4.1.0/css/font-awesome.css" />
    <script src="../../static/fb.js"></script>
    <script src="../../static/carhartl-jquery-cookie-92b7715/jquery.cookie.js"></script>
</head>
<body>
<div id="fb-root"></div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-52264439-1', 'pythonanywhere.com');
  ga('send', 'pageview');

    var modal;
    var checkin_modal;

    function isLogged()
    {
        var user_id = $.cookie('user_id');
        var logged = (user_id == null)? false : true;
        return logged;
    }
    function fb_status_change_callback(fb_connected, response_data)
    {
        console.log('fb_status_change_callback');
        if(fb_connected)
        {
            console.log(response_data.authResponse.userID);
            $.cookie('user_id', '' + response_data.authResponse.userID, {path: '/'});
            if(modal && modal.isActive()) {
                modal.hide();
            }
            $("#logout_btn").css("display", "")
        }
        else
        {
            $.removeCookie('user_id', { path: '/' });
            $("#logout_btn").css("display", "none")
        }
    }
    function fb_profile_ready_callback(response_data)
    {
        console.log('fb_profile_ready_callback');
        $("#user_form")[0].id_name.value = response_data.name;
        $("#user_form")[0].id_email.value = response_data.email;
        $("#user_form")[0].id_user_id.value = response_data.id;

        $.ajax({
              type: 'POST',
              url: '/user/add/',
              data: $("#user_form").serialize(),
              success: function(data)
              {
                  console.log(data);
              },
              error: function(err)
              {
                  console.log(err);
              }
            });
    }
    function fb_login_callback(fb_logged, response_data)
    {
        console.log('fb_login_callback');
        fb_status_change_callback(fb_logged, response_data);
        window.location.href = "/train/{{ train.train_number }}";
    }
    function fb_logout_callback()
    {
        console.log('fb_login_callback');
        fb_status_change_callback(false,{});
        window.location.href = "/train/{{ train.train_number }}";
    }
    function btn_on_mouse_over(self)
    {
        if(self.className.indexOf('checked') < 0) {
            self.className = self.className.split(" uk-text-muted").join("");
            self.className = self.className + " uk-text-danger";
            //$("#checkin_icon")[0].className = $("#checkin_icon")[0].className.split(" fa-flag-o ").join("");
            //$("#checkin_icon")[0].className = $("#checkin_icon")[0].className + " fa-flag ";
        } else {
            //$("#checkin_icon")[0].className = $("#checkin_icon")[0].className.split(" fa-flag ").join("");
            //$("#checkin_icon")[0].className = $("#checkin_icon")[0].className + " fa-flag-o ";
            self.className = self.className.split(" uk-text-danger").join("");
            self.className = self.className + " uk-text-muted";
        }
    }
    function btn_on_mouse_out(self)
    {
        if(self.className.indexOf('checked') >= 0) {
            self.className = self.className.split(" uk-text-muted").join("");
            self.className = self.className + " uk-text-danger";
            //$("#checkin_icon")[0].className = $("#checkin_icon")[0].className.split(" fa-flag-o ").join("");
            //$("#checkin_icon")[0].className = $("#checkin_icon")[0].className + " fa-flag ";
        } else {
            //$("#checkin_icon")[0].className = $("#checkin_icon")[0].className.split(" fa-flag ").join("");
            //$("#checkin_icon")[0].className = $("#checkin_icon")[0].className + " fa-flag-o ";
            self.className = self.className.split(" uk-text-danger").join("");
            self.className = self.className + " uk-text-muted";
        }
    }
    function popup_cehckin_alert(msg)
    {
        $("#checkin_msg")[0].innerHTML = msg;
        if(!checkin_modal)
            checkin_modal = new $.UIkit.modal.Modal("#checkin_alert");
        if( checkin_modal.isActive() == false)
        {
          checkin_modal.show();
        }
    }
    function checkIn(self, checkin)
    {
        if(!isLogged())
        {
            if(!modal)
                modal = new $.UIkit.modal.Modal("#popup_alert");
            if( modal.isActive() == false)
            {
                modal.show();
            }
        }
        else {
            /*
                        if(checkin)
                            fb_post_msg(true);
                        else
                            do_checkin(false);
                         */
            do_checkin(checkin);
        }
    }
    function do_checkin(checkin)
    {
        var action_url = '/checkin/add/{{ train.train_number }}';
        if(!checkin)
            action_url = '/checkin/delete/{{ train.train_number }}';
        $.ajax({
              type: 'GET',
              url: action_url,
              success: function(data)
              {
                  console.log(data);
                  if(data["result"] == 3)
                  {
                      popup_cehckin_alert("此列車目前未提供服務，無法簽到喔");
                  }
                  if(data["result"] == 0) {
                      window.location.href = "/train/{{ train.train_number }}";
                      if(checkin)
                        fb_post_msg(checkin);
                  }
              },
              error: function(err)
              {
                  console.log(err);
                  popup_cehckin_alert(err.toString());
              }
        });
    }
     function fb_post_msg(checkin) {
               FB.ui(
               {
                 method: 'stream.publish',
                 message: 'this is message',
                 attachment: {
                   name: 'FindTrain',
                   caption: '{{ user.name }} 正在搭乘高鐵{% if direction_id == 0 %}北上{% else %}南下{% endif %}列車',
                   description: (
                     '列車車次為{{ train.train_number }}，下一個停靠站是{{ running_schedule.train_station.name }}，終點站是{{ end_station.name }}'
                   ),
                   href: 'http://petercliao.pythonanywhere.com/train/{{ train.train_number }}'
                 },
                 action_links: [
                   { text: 'Code', href: 'action url here' }
                 ],
                 user_prompt_message: 'Personal message here'
               },
               function(response) {
                 if (response && response.post_id) {
                   console.log('Post was published.');
                   //do_checkin(checkin);
                   window.location.href = "/train/{{ train.train_number }}";
                 } else {
                   console.log('Post was not published.');
                   //do_checkin(checkin);
                   window.location.href = "/train/{{ train.train_number }}";
                 }
               }
             );
     }

</script>
<!-- This is the modal -->
<div id="popup_alert" class="uk-modal">
    <div class="uk-modal-dialog uk-text-center uk-article-lead">
        <a class="uk-modal-close uk-close"></a>
        <p>請先登入再打卡喔</p>
        <button class="uk-button uk-button-primary" onclick="loginToFB()">登入facebook</button>
    </div>
</div>
<div id="checkin_alert" class="uk-modal">
    <div class="uk-modal-dialog uk-text-center uk-article-lead">
        <a class="uk-modal-close uk-close"></a>
        <p id="checkin_msg"></p>
    </div>
</div>

<div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">
    <div class="uk-grid" data-uk-grid-margin="">

        <div class="uk-width-medium-1-1">
            <nav class="uk-navbar uk-margin-bottom">
                <ul class="uk-navbar-nav">
                   <li>
                        <a href="http://petercliao.pythonanywhere.com" style="text-decoration: none">
                            <span class="uk-text-sky-blue uk-text-bold uk-text-large">FindTrain</span>
                        </a>
                    </li>
                    <li><a href="/">定位</a></li>
                    <li><a href="/nearby/">最近車站</a></li>
                    <li><a href="/running/">行駛中</a></li>
                    <li data-uk-dropdown="{mode:'click'}" class="uk-active">
                        <a href="#">時刻表 <i class="uk-icon-caret-down"></i></a>
                        <div class="uk-dropdown uk-dropdown-small">
                            <ul class="uk-nav uk-nav-dropdown">
                                {% if direction_id == 0 %}
                                    <li class="uk-active"><a href="/schedule/0/">北上</a></li>
                                    <li><a href="/schedule/1/">南下</a></li>
                                {% else %}
                                    <li><a href="/schedule/0/">北上</a></li>
                                    <li class="uk-active"><a href="/schedule/1/">南下</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </li>
                    <li data-uk-dropdown="{mode:'click'}">
                        <a href="#">車站 <i class="uk-icon-caret-down"></i></a>
                        <div class="uk-dropdown uk-dropdown-small">
                            <ul class="uk-nav uk-nav-dropdown">
                                {% for station in station_list %}
                                    <li><a href="/station/{{ station.id }}/">{{ station.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </li>
                    <li id="logout_btn" style="display:none"><a href="javascript:logoutFB()">登出</a></li>
                </ul>
            </nav>

            <article class="uk-article">
                {% if checkins.count != 0 %}
                    <p class="uk-article-lead uk-text-bold"><i class="fa fa-1x fa-trophy "></i> 排行榜</p>
                {% endif %}

                {% load dictionary_extras %}
                    <div class="uk-margin-left uk-article-lead">
                        {% for i in top_checkins_range %}
                            <img id="img_{{ top_checkins|get_user:i }}" class="uk-icon-button-40 uk-animation-scale-up" width="40px" height="40px" src="https://graph.facebook.com/{{ top_checkins|get_user:i }}/picture?type=square" alt="">
                                共簽到了此列車<span class="uk-text-bold uk-text-sky-blue"> {{ top_checkins|get_count:i }} </span>次，目前是本次列車的
                                <span class="uk-text-bold uk-text-sky-blue">
                                    {% if i == 0 %}
                                        冠軍
                                    {% elif i == 1 %}
                                        亞軍
                                    {% else %}
                                        季軍
                                    {% endif %}
                                </span>
                        {% endfor %}
                    </div>

                <p class="uk-article-lead uk-text-bold"><i class="fa fa-1x fa-info-circle "></i> 列車資訊</p>

                <div class="uk-margin-left uk-article-lead">



                    {% if train.is_started and not train.is_stopped %}

                        行駛中的列車為
                        <span class="uk-text-bold uk-text-sky-blue"> {{ train.train_number }} </span>車次
                            {% if direction_id == 0 %}
                                <span class="uk-text-bold uk-text-sky-blue"> 北上列車 </span>
                            {% else %}
                                <span class="uk-text-bold uk-text-sky-blue"> 南下列車 </span>
                            {% endif %}
                        下一個停靠站是<span class="uk-text-bold uk-text-sky-blue"> {{ running_schedule.train_station.name }} </span>
                        終點站是<span class="uk-text-bold uk-text-sky-blue"> {{ end_station.name }} </span>

                    {% else %}

                        此列車為
                        <span class="uk-text-bold"> {{ train.train_number }} </span>車次
                            {% if direction_id == 0 %}
                                <span class="uk-text-bold"> 北上列車 </span>
                            {% else %}
                                <span class="uk-text-bold"> 南下列車 </span>
                            {% endif %}
                        終點站是<span class="uk-text-bold"> {{ end_station.name }} </span>

                    {% endif %}
                </div>

                {% if train.is_started and not train.is_stopped %}
                    <p class="uk-article-lead uk-text-bold"><i class="fa fa-1x fa-pencil-square-o "></i> 本日簽到簿</p>
                {% elif not train.is_started and not train.is_stopped%}
                    <p class="uk-article-lead uk-text-bold"><i class="fa fa-1x fa-pencil-square-o "></i> 本日簽到簿(尚未開始)</p>
                {% else %}
                    <p class="uk-article-lead uk-text-bold"><i class="fa fa-1x fa-pencil-square-o "></i> 本日簽到簿(已結束)</p>
                {% endif %}
                <div class="uk-margin-left uk-article-lead">
                    <p>

                    {% if train.is_started and not train.is_stopped %}

                        {% if checked %}
                           <a class="uk-icon uk-text-danger checked " href="#" onmouseover="btn_on_mouse_over(this);" onmouseout="btn_on_mouse_out(this);" onmousedown="checkIn(this, false);">
                                <i id="checkin_icon" class="fa fa-lg fa-map-marker "></i>
                            </a>
                        {% else %}
                            <a class="uk-icon uk-text-muted " href="#" onmouseover="btn_on_mouse_over(this);" onmouseout="btn_on_mouse_out(this);" onmousedown="checkIn(this, true);">
                                <i id="checkin_icon" class="fa fa-lg fa-map-marker "></i>
                            </a>
                        {% endif %}

                    {% endif %}

                    {% if curr_checkins.count == 0 %}

                        {% if train.is_started and not train.is_stopped%}
                            還沒有人簽到此列車，來成為第一個簽到者!
                        {% else %}
                            沒有人簽到此列車
                        {% endif %}

                    {% else %}

                            {% if train.is_started and not train.is_stopped%}
                                {% if checked %}
                                    包含您在內，已經有<span class="uk-text-bold uk-text-sky-blue"> {{ curr_checkins.count }} </span>位乘客簽到了
                                {% else %}
                                    今天已經有<span class="uk-text-bold uk-text-sky-blue"> {{ curr_checkins.count }} </span>位乘客簽到了，您也來簽到吧
                                {% endif %}
                            {% elif not train.is_started and not train.is_stopped%}
                                列車尚未行駛，無法提供簽到服務
                            {% else %}
                                今天共有<span class="uk-text-bold uk-text-sky-blue"> {{ curr_checkins.count }} </span>位乘客簽到
                            {% endif %}



                    {% endif %}

                    </p>
                </div>


               <div class="uk-margin-left ">
                    {% for checkin in curr_checkins %}
                        <img id="img_{{ checkin.user.fb_id }}" class="uk-icon-button-40 uk-animation-scale-up" width="40px" height="40px" src="https://graph.facebook.com/{{ checkin.user.fb_id }}/picture?type=square" alt="" data-uk-tooltip title="{{ checkin.user.name }}">
                    {%  endfor %}
               </div>

                <p class="uk-article-lead uk-text-bold"><i class="fa fa-1x fa-clock-o"></i> 到站時刻表</p>

                <div class="uk-margin-left">
                    <table class="uk-table uk-table-striped uk-table-condensed uk-table-hover">
                        <thead>
                            <tr>
                                <th>車次</th>
                                {% for station in station_list %}
                                    <th>{{ station.name }}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        {% regroup schedule_list by train as train_list %}
                        <tbody>
                            {% for train in train_list %}
                                <tr onclick="window.location.href='/train/{{ train.grouper.train_number }}';">
                                    <td>{{ train.grouper.train_number }}</td>
                                    {% for item in train.list %}
                                        <td>{{ item.arrive_time_str }}</td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                <p class="uk-article-lead uk-text-bold"><i class="fa fa-1x fa-building-o"></i> 各站資訊</p>

                <div class="uk-grid">

                    {% for schedule in schedule_list %}
                        <div class="uk-width-medium-1-4">

                            <div class="uk-thumbnail" width="100%">

                                <div class="uk-overlay">
                                        <img src="/static/img/{{ schedule.train_station.name }}.jpg" width="400" height="200" alt="" {% if schedule.is_passed %} class="grayImg" {% endif %}>
                                        <div class="uk-overlay-caption-no-hover">
                                            <table width="100%"><tr>
                                                <td align="left" width="30%">
                                                    <b>{{ schedule.train_station.name }}</b>
                                                </td>
                                                <td align="right" width="70%">
                                                    {% if schedule.arrive_time_str == " - " %}
                                                        不停靠
                                                    {% elif schedule.is_passed%}
                                                        {%  if schedule.is_first_station %}
                                                            已發車
                                                        {% elif schedule.is_last_station %}
                                                            已到站
                                                        {% else %}
                                                            已經過站
                                                        {% endif %}
                                                    {% else %}
                                                        <span class="uk-text-danger uk-text-bold">{{ schedule.arrive_timedelta_str }}</span>
                                                        {%  if schedule.is_first_station %}
                                                            後發車
                                                        {% else %}
                                                            後抵達
                                                        {% endif %}
                                                    {% endif %}
                                                </td>
                                            </tr></table>
                                        </div>
                                </div>

                                <div class="uk-thumbnail-caption {% if schedule.is_passed %}uk-text-muted{% endif %}">

                                    {% if not schedule.is_passed %}
                                        <table width="100%">
                                            {% if schedule.is_day%}
                                                <tr><td align="left" width="45%">天氣概況:</td><td align="right" width="55%">{{ schedule.train_station.weather.day_wx }}</td></tr>
                                                <tr><td align="left" width="45%">氣溫:</td><td align="right" width="55%">{{ schedule.train_station.weather.day_mint }} ~ {{ schedule.train_station.weather.day_maxt }}°C</td></tr>
                                                <!--tr><td align="left" width="45%">舒適度:</td><td align="right" width="55%">{{ schedule.train_station.weather.day_ci }}</td></tr-->
                                                <tr><td align="left" width="45%">降雨機率:</td><td align="right" width="55%">{{ schedule.train_station.weather.day_pop }}%</td></tr>
                                            {% else %}
                                                <tr><td align="left" width="45%">天氣概況:</td><td align="right" width="55%">{{ schedule.train_station.weather.night_wx }}</td></tr>
                                                <tr><td align="left" width="45%">氣溫:</td><td align="right" width="55%">{{ schedule.train_station.weather.night_mint }} ~ {{ schedule.train_station.weather.night_maxt }}°C</td></tr>
                                                <!--tr><td align="left" width="45%">舒適度:</td><td align="right" width="55%">{{ schedule.train_station.weather.night_ci }}</td></tr-->
                                                <tr><td align="left" width="45%">降雨機率:</td><td align="right" width="55%">{{ schedule.train_station.weather.night_pop }}%</td></tr>
                                            {% endif %}
                                        </table>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

            </article>

        </div>
    </div>
</div>

    <form id="user_form" style="display:none" action="/user/add/" method="post">
        {% csrf_token %}
        {{ user_form.as_p }}
    </form>

</body>
</html>