<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="{% static "jquery.js" %}"></script>
</head>
<body>

    <button onclick="getTrain()">Where is my train</button>

    <script>
        var x = document.getElementById("demo");
        var timer;
        function getTrain() {
            getLocation(1); // get start position
            timer = setInterval(function(){getLocation(2)}, 3000); // get end position
        }
        function errorHandler(err) {
            clearInterval(timer);
            alert('err:' + err.code);
            if(err.code == 1) {
                console.log("Error: Access is denied!");
            }else if( err.code == 2) {
                console.log("Error: Position is unavailable!");
            }
        }
        function getLocation(index) {
            alert('getLocation:' + index);
            if (navigator.geolocation) {
                if(index == 1)
                    navigator.geolocation.getCurrentPosition(setPosition1, errorHandler);
                else
                    navigator.geolocation.getCurrentPosition(setPosition2, errorHandler);
            } else {
                alert("Geolocation is not supported by this browser");
                console.log("Geolocation is not supported by this browser.");
                clearInterval(timer);
            }
        }
        function setPosition1(position) {
            alert(position.coords.latitude);
            $("#train_form").id_lat1.value = position.coords.latitude;
            $("#train_form").id_long1.value = position.coords.longitude;
            console.log('lat1:' + position.coords.latitude + ", long1:" + position.coords.longitude);
            alert('lat1:' + position.coords.latitude + ", long1:" + position.coords.longitude);
        }
        function setPosition2(position) {
            alert(position.coords.latitude);
            clearInterval(timer);
            alert($("#train_form").id_lat2.value);
            $("#train_form").id_lat2.value = position.coords.latitude;
            alert($("#train_form").id_lat2.value);
            $("#train_form").id_long2.value = position.coords.longitude;
            console.log('lat2:' + position.coords.latitude + ", long2:" + position.coords.longitude);
            alert('lat2:' + position.coords.latitude + ", long2:" + position.coords.longitude);
            $("#train_form").submit();
        }
    </script>
    {% if train_schedule.train %}
    Your train is {{ train_schedule.train.train_number }}
    {% endif %}
    <form id="train_form" style="display:" action="/train/" method="post">
        {% csrf_token %}
        {{ train_form.as_p }}
    </form>

</body>
</html>